/vendor/
node_modules/
npm-debug.log
yarn-error.log

bootstrap/compiled.php
app/storage/

public/storage
public/hot

public_html/storage
public_html/hot

storage/*.key
.env
.env.*
.idea/
.DS_Store
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
cmds
/public/js/app.js.LICENSE.txt
/public/js/app.js
/public/css/app.css
/public/admin/js/app.js
/public/admin/css/app.css
/public/mix-manifest.json
/public/fonts/vendor/font-awesome/fontawesome-webfont.svg
/public/admin/js/app.js.LICENSE.txt
/package-lock.json

/storage

*.lock
