// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@font-face {
    font-family: 'azbuka04';
    src: url('../fonts/azbuka04.ttf');
}

@font-face {
    font-family: 'Harmonia';
    src: url('../fonts/HarmoniaSansProCyr-Regular.otf');
}

body {
    font-family: 'azbuka04';
}
