// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// ContentTools
@import 'content-tools.min.css';
@import 'contenttools';


@font-face {
    font-family: 'azbuka04';
    src: url('../fonts/azbuka04.ttf');
}

@font-face {
    font-family: 'Harmonia';
    src: url('../fonts/HarmoniaSansProCyr-Regular.otf');
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'azbuka04';
}

p.title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

div.page-content {
    padding: 0 13vw 5vh;
}

.header-description-text {
    h1, h3 {
        text-transform: uppercase;
    }
}

@media (max-width: 899px) {
    .desktop {
        display: none !important;
    }
}

@media (min-width: 900px) {
    .mobile {
        display: none !important;
    }
}
